body {
  background: #F6F2EF; /* MERILUベージュ */
  color: #4a4a4a;
  font-family: "Helvetica Neue", serif;
  letter-spacing: 0.5px;
}

.account-main {
  padding: 10px ;
}

.account-wrapper {
  max-width: 720px;
  margin: 0 auto;
  background: #ffffff;
  padding: 60px 60px 80px;
  border-radius: 12px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.05);
}

/* タイトル */
.account-title {
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 5px;
  margin-bottom: 60px;
  color: #5a4f4b;
}

/* セクション */
.account-section {
  border-top: 1px solid #eee3dd;
}

/* 行 */
.account-row {
  display: grid;
  grid-template-columns: 180px 1fr;
  padding: 28px 0;
  border-bottom: 1px solid #f0e7e2;
}

/* 左ラベル */
.account-label {
  font-size: 11px;
  letter-spacing: 2px;
  color: #b3a6a1;
}

/* 値 */
.account-value {
  font-size: 14px;
  letter-spacing: 1px;
  color: #5a4f4b;
}

/* ボタン */
.account-actions {
  text-align: center;
  margin-top: 80px;
}

.account-edit {
  background: #e8d8d2; /* くすみピンク */
  border: none;
  padding: 14px 48px;
  letter-spacing: 2px;
  font-size: 12px;
  color: #5a4f4b;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s ease;
}

.account-edit:hover {
  background: #d9c6bf;
}

/* 編集 */
.account-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #e0d6d0;
  padding: 6px 0;
  font-size: 14px;
  background: transparent;
  color: #5a4f4b;
}

.account-input:focus {
  outline: none;
  border-bottom: 1px solid #d9c6bf;
}


/* ログアウト */
.logout-btn {
  margin-top: 20px;
  background: transparent;
  border: 1px solid #d8c7c0;
  padding: 12px 40px;
  font-size: 12px;
  letter-spacing: 2px;
  color: #8a7f7b;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.logout-btn:hover {
  background: #f3e9e4;
  color: #5a4f4b;
  border-color: #cbbab3;
}


/* ポップアップ */
.popup {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.2);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.popup.active {
  opacity: 1;
  pointer-events: all;
}

.popup-box {
  background: #ffffff;
  padding: 30px 60px;
  border-radius: 12px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.08);
  font-size: 14px;
  letter-spacing: 2px;
  color: #5a4f4b;
}

