body{
  background: #F6F2EF;
  color: #4A4A4A;
  margin: 0;
  font-family: "Helvetica Neue", serif;
  padding-top: 120px;
}


.cart{
  width: 100%;
  max-width: 1000px;
  margin: 10px auto 120px;   
  padding: 80px 60px;
  min-height: 650px;
  box-sizing: border-box;
}

/* タイトル */
.cart h1{
  text-align: center;
  font-size: 22px;
  letter-spacing: 4px;
  font-weight: 300;
  margin-bottom: 80px;
}

.cart-list{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* 空メッセージ専用 */
.empty-message{
  margin: auto;
  font-size: 16px;
  letter-spacing: 2px;
  opacity: 0.7;
}

.cart-item{
  display: grid;
  grid-template-columns: 100px 1fr auto;
  align-items: center;
  gap: 40px;
  padding: 40px 0;
  border-bottom: 1px solid #E8E3DD;
}

/* 画像 */
.cart-left img{
  width: 100px;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 10px 20px rgba(0,0,0,0.05);
}

/* 情報 */
.cart-info{
  display: flex;
  flex-direction: column;
}

/* 左側情報 */
.cart-info .name{
  font-size: 16px;
  margin-bottom: 6px;
}

.cart-info .series{
  font-size: 12px;
  letter-spacing: 3px;
  opacity: 0.6;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.cart-info .price{
  font-size: 14px;
  opacity: 0.8;
}

/* セール */
.old {
  text-decoration: line-through;
  text-decoration-color: red;
  color: #888;
  margin-right: 6px;
}

.sale {
  color: #e60012;
  font-weight: bold;
}

/* ===============================
   合計エリア
================================ */
.cart-summary{
  margin-top: 80px;
  padding-top: 40px;
  border-top: 1px solid #E8E3DD;

  display: flex;
  flex-direction: column; 
  gap: 24px;
  align-items: flex-end;  
}

.cart-summary p{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 300;
}

button{
  padding: 14px 24px;
  font-size: 16px;
  cursor: pointer;
}

/* 右側数量 */
.cart-qty{
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 14px;
}

/* 削除ボタン */
.remove{
  background: none;
  border: none;
  color: #999;
  font-size: 12px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.3s;
}

.remove:hover{
  color: #000;
}

/* 購入ボタン */
#checkout{
  background: #111;
  color: #fff;
  border: none;
  padding: 16px 48px;
  font-size: 14px;
  letter-spacing: 3px;
  cursor: pointer;
  transition: 0.3s;
}

#checkout:hover{
  background: #333;
}
