footer {
 	position: fixed;
  	bottom: 0;
  	left: 0;
  	width: 100%;
	color: #8A8A8A;

  	text-align: center;   			/* 横中央 */
 	padding: 12px 0;

  	background: #F8F6F2;     			/* 下の要素が透けないように */
	border-top: 1px solid #E5E0DA;
  	font-size: 12px;      			/* コピーライトを小さめ */
}